.navbar{
    background-color: $black;
    height: 80px;
    
    
    & .navbar__button{
        width: 20%;
        float: right;
        cursor: pointer;
        color: $white;
        font-size: $xxxx-large;
        text-align: right;
    }
}

.navbar__logo{
    float: left;
    width: 60px;
    
    & img{
        width: 60px;
    }
}

.navbar__collapse{
    display: none;
}

.banner{
    width: 100%;
    height: 300px;
    background-image: url('../img/desarrolloweb2021t.svg');
    background-size: cover;
    background-position: center;
}