.navbar{
    background-color: $black;
    height: 80px;
    display: flex;
    align-items: center;
    
    
    & .navbar__button{
        width: 20%;
        float: right;
        cursor: pointer;
        color: $white;
        font-size: $xxxx-large;
        text-align: right;
        transition: 0.3s ease-in-out ;
    }

    & .navbar__button:hover{
        color: $orange;
    }
}

.navbar__logo{
    float: left;
    width: 60px;
    
    & img{
        width: 60px;
    }
}

.navbar__collapse{
    display: none;
}

.banner{
    width: 100%;
    height: 200px;
    background-image: url('../img/desarrolloweb2021t.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 960px){
    .navbar{
        & .navbar__button{
            display: none;
        }
    }
    
    .contenedor--navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__collapse{
        width: 40%;
        display: block;
        text-align: right;
        
        
        & li{
            display: inline;
            margin: 0px 15px;
            
        }
        & li a{
            color: $white;
        }

    }
    
    .banner{
        width: 100%;
        height: 400px;
        background-image: url('../img/desarrolloweb2021t.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}