.contenedor{
    width: 95%;
    margin: auto;
    max-width: 1600px;
}

.row{
    display: grid;
    border: 1px solid $sable;
    padding: 25px 25px;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
}



