@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
.contenedor {
  width: 95%;
  margin: auto;
  max-width: 1600px;
}

.row {
  display: grid;
  border: 1px solid #060606;
  padding: 25px 25px;
  grid-template-columns: 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

*, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.legal {
  font-size: 14px;
}

.clear {
  clear: both;
}

.header {
  background-color: #000000;
  height: 80px;
}

.main__section {
  display: grid;
}

.right, .left {
  width: 95%;
  margin: auto;
  margin-bottom: 25px;
}

.curso {
  border: 1px dotted #5d5d5d;
  margin: 5px auto;
  padding: 25px 5px;
}
.curso .curso__cabecera {
  width: 100%;
  height: 150px;
  margin: auto;
  background-size: cover;
  background-position: center;
}
.curso h4 {
  line-height: 38px;
}
.curso h4, .curso p, .curso h6, .curso .curso__icons {
  margin: 15px 0px;
}

.curso__icons i {
  display: inline;
  margin-right: 15px;
}

.curso__cabecera--html {
  background-image: url("../img/html-y-cssb-.jpg");
}

.curso__cabecera--sass {
  background-image: url("../img/sass.png");
}

.curso__cabecera--cursos {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid #5d5d5d;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/web-development.png");
}

.curso--left h6 {
  text-align: center;
}

.mas__cursos {
  background-color: #5d5d5d;
  color: #ffffff;
}

.curso__rrss li a .fab {
  color: #000000;
}

.curso__rrss {
  width: 200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.curso__lista {
  margin-left: 25px;
}
.curso__lista ul {
  list-style: circle;
}

.svg__animado {
  width: 150px;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 960px) {
  .main__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-auto-rows: auto;
    cursor: pointer;
  }

  .right, .left {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
    display: flex;
  }

  .curso .curso__cabecera {
    width: 100%;
    height: 200px;
  }

  .curso__rrss li a .far {
    width: auto;
  }

  .curso__rrss {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}
.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  margin-top: 25px;
  padding: 50px 0px;
  text-align: center;
}
.footer .contenedor--footer {
  display: grid;
}

.footer .legal, .footer p, .footer input, .footer .button {
  margin: 10px 0px;
}

@media only screen and (min-width: 960px) {
  .footer {
    text-align: start;
  }
  .footer .contenedor--footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-auto-rows: auto;
  }

  .footer__input {
    text-align: right;
  }
  .footer__input p, .footer__input .input, .footer__input button {
    display: inline;
  }
  .footer__input .input {
    margin: 0px 15px;
  }
}
.button {
  width: auto;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffaf6d;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button:focus {
  background-color: #ffffff;
  color: #ffa500;
}

.input {
  width: 200px;
  padding: 5px;
}

.input:focus {
  background-color: #ffa500;
}

.contenedor--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  margin-top: 10px;
  float: left;
}
.logo img {
  width: 60px;
}

.burger {
  width: 20%;
  float: right;
  color: #ffffff;
  font-size: 45px;
  text-align: right;
  transition: 0.3s ease-in-out;
}
.burger.burger:hover {
  color: #ffa500;
}

.navbar {
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  position: absolute;
  margin-bottom: 15px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
.navbar li {
  color: #000000;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 40px 0px 40px 10px;
}
.navbar li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#menu-bar {
  display: none;
}

#menu-bar:checked ~ .navbar {
  transform: translateX(0%);
}

/* .banner{
    width: 100%;
    height: 200px;
    background-image: url('../img/desarrolloweb2021t.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */
.banner {
  width: 100%;
  height: 400px;
  background-image: url("../img/desarrolloweb2021t.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 960px) {
  .burger {
    display: none;
  }

  .navbar {
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0;
    position: static;
    margin-bottom: 0;
    background-color: #000000;
    transform: translateX(0%);
    text-align: right;
    display: flex;
    align-items: center;
  }
  .navbar li {
    display: inline;
    text-align: center;
    border-bottom: none;
    padding: 40px 0px 40px 10px;
  }
  .navbar li a {
    color: #ffffff;
  }
  .navbar li a:hover {
    color: #ffa500;
  }

  .banner {
    width: 100%;
    height: 400px;
    background-image: url("../img/desarrolloweb2021t.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*# sourceMappingURL=style.css.map */
